body,html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url(assets/bg.png);

    height: 100%;

     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}


.column {
    position: absolute;
    height:100%;
    left:15%;

}

.class-title {
    margin: 25% auto;
    margin-bottom: 0%;

    background: rgba(111, 111, 111, 0.66);
    border-radius: 27px;

    padding: 30px 100px;
}

.join-box {
    margin: auto;
    text-align: center;
    margin-top: 10%;
    width: 66%;

    background: rgba(111, 111, 111, 0.66);
    border-radius: 27px;

    padding: 30px;
}

.logo {
    display: inline-block;
    height: 40px;
    vertical-align: -9px;
    margin-left: 15px;
}

.college, .year, span {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    margin: 0px;

    color: #FFFFFF;
}

.year {
    font-size: 120px;
    /* identical to box height */

    letter-spacing: 0.2em;

}
 span {
    font-size: 30px;
 }
 
 a {
        text-decoration:none;
    }
